#paineis-sobre {
  margin-top: 20px;
}

html, body {
	height: 100%;
}

header {
	background-image: url("img/castelo.jpg");
	background-position: top center;
	background-size: cover;
	height: 100%;
	position: relative;
}

header h1 {
	margin-bottom: 0px;
	margin-top: 0px;
}

.topCasaFina-banner {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	color: #ffffff;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
	width: 80%;
}

.titulo-depoimentos {
	background-color: #0275d8;
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-top: 22px;
}

.contato-select, .grupo-radio {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.grupo-radio .radio:first-child {
	margin-top: 0px;
}

footer {
	background-color: #333333;
	color: #ffffff;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0px;
}